.header {
    grid-area: header;
  }
.sidebar-left {
    grid-area: sidebar-1;
}
.sidebar-right {
    grid-area: sidebar-2;
}
.canvas-area {
    grid-area: main;
    background-color: #404040;
    width: 600px;
    height: 600px;    
}
.footer {
    grid-area: footer;
    padding: 0px;    
}

.content {
    margin: 10px 0px 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        "header header header"
        "sidebar-1 main sidebar-2"
        "footer footer footer";
    gap: 10px;
}

.btn {
    margin-bottom: 7px;
    width: 100%;
}

.colorpickerwrapper {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    display:inline-block;
    border: 2px solid black;
}

.colorpicker {
    opacity: 0;
    height: 20px;
}