.item-a {
    grid-area: header;
  }
.item-b {
    grid-area: sidebar;
}
.item-c {
    grid-area: main;
    background-color: #404040;
    width: 600px;
    height: 600px;    
}
.item-d {
    grid-area: footer;
    padding: 0px;    
}

.content {
    margin: 10px 0px 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr 5fr 1fr;
    /* grid-template-columns: 200px 600px; */
    grid-template-areas:
        "header header header header"
        ". sidebar main ."
        "footer footer footer footer";
    gap: 10px;
}

.divider {
    margin-top: 10px;
    margin-bottom: 10px;    
}

.btn {
    margin-bottom: 7px;
    width: 100%;
}

.colorpickerwrapper {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    display:inline-block;
    border: 2px solid black;
}

.colorpicker {
    opacity: 0;
    height: 20px;
}